
.profile{
    /* background-color: rgb(189, 28, 28); */
    max-width: 1150px;
    margin: 0 auto;
    height: 1000px;
    position: relative;
}
.profile .profile-capa{
    background-color: #f1f1f1;
    max-width: 100%;
    height: 420px;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.profile-capa img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile .profile-info{
    display: grid;
    grid-template-columns: 260px 1fr;
}
.profile .profile-picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 330px;
    left: 40px;
    border: 4px solid #fff;
}
.profile-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-info .user-name{
    grid-column: 2;
    margin-top: 25px;
    font-size: 29px;
    font-weight: bold;
}